<div class="col-12 stretch-card">
  <div class="card">
    <div class="card-body">
      <h6 class="font-weight-bold mb-3">INVITACIONES Y PERMISOS</h6>
      <v-divider></v-divider>
      <v-data-table
        :headers="headers"
        :items="tecnicos"
        :search="buscar"
        :footer-props="footerProps"
        no-data-text="No hay información disponible"
        sort-by="area"
        class="elevation-2"
      >
        <template v-slot:top>
          <v-toolbar height="90" flat>
            <v-text-field v-model="buscar" append-icon="mdi-magnify" label="Buscar" single-line hide-details></v-text-field>
            <v-spacer></v-spacer>
            <v-btn v-on:click="dialogInvitar = true" color="primary">INVITAR TECNICXS</v-btn>
          </v-toolbar>
        </template>
        <template v-slot:item.permisos="{ item }">
          <v-chip v-for="permiso in item.permisos" x-small> {{ permiso }} </v-chip>
        </template>
        <template v-slot:item.estado="{ item }">
          <v-chip :color="item.estado == 'Aceptada' ? 'light-green' : 'yellow'"> {{ item.estado }} </v-chip>
        </template>
        <template v-slot:item.acciones="{ item }">
          <v-icon small class="mr-2" v-on:click="editarInvitacion(item)">mdi-pencil</v-icon>
          <template v-if="item.estado == 'Pendiente'">
            <v-icon small v-on:click="eliminarInvitacion(item)">mdi-delete</v-icon>
          </template>
        </template>
      </v-data-table>
    </div>
  </div>
  <v-dialog v-model="dialogInvitar" persistent max-width="900px">
    <v-card id="form-invitar-tecnicos" class="mb-12">
      <v-card-text class="px-0">
        Invite a sus primerxs técnicxs al proyecto. Indique el área y los permisos que les dará a cada unx de ellxs (podrá modificarlos luego).
        Recomendamos agregar por lo menos una persona con el permiso "Técnicxs" para que le ayude a seguir invitando a otrxs técnicxs y a manejar sus
        permisos.
      </v-card-text>
      <v-form lazy-validation class="pt-3" v-model="formTecnicosValidation" ref="formTecnicos">
        <div v-for="(tecnico, index) in tecnicosNuevos">
          <div class="row w-100">
            <div class="col-11">
              <div class="row">
                <div class="form-group col-12 col-md-6">
                  <v-text-field
                    v-model="tecnico.email"
                    :rules="[rules.obligatorio, rules.reglaEmail, rules.reglaEmailNoRepetido]"
                    label="E-mail (solo Gmail)"
                    clearable
                  ></v-text-field>
                </div>
                <div class="form-group col-12 col-md-6">
                  <v-select :items="listaAreas" v-model="tecnico.area" :rules="[rules.obligatorio]" label="Área"></v-select>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-12">
                  <v-select :items="listaPermisos" v-model="tecnico.permisos" :rules="[rules.obligatorio]" label="Permisos" multiple chips></v-select>
                </div>
              </div>
            </div>
            <div class="col-1 align-self-center text-center">
              <i
                v-show="tecnicosNuevos.length > 1"
                v-on:click="eliminaTecnicoDeLaLista(index)"
                class="mdi mdi-close boton-eliminar-invitacion-tecnico"
              ></i>
            </div>
          </div>
          <v-divider class="mt-0"></v-divider>
        </div>
        <span id="boton-agregar-invitacion-tecnico" v-on:click="agregarNuevoUsuarioALaLista"
          ><i class="mdi mdi-account-plus btn-icon-prepend"></i> Agregar otro técnico</span
        >
      </v-form>
    </v-card>
  </v-dialog>
</div>