/* General */
.dropdown-usuario {
  color: black !important;
}

.mdi-apps {
  cursor: pointer !important;
}

h6 {
  color: #1976d2;
}

.custom-loader {
  animation: loader 1s infinite;
  display: flex;
}
@-moz-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Vuetify */
.v-stepper__step:hover {
  cursor: pointer;
}

.v-dialog {
  z-index: 30;
}

.v-dialog:not(.v-dialog--fullscreen) {
  max-height: 85%;
}

.v-responsive {
  border: 1px solid rgba(77,130,255,0.4);
}

/* Dropzone JS */
.dropzone {
  border: 2px dashed #1976d2;
  border-radius: 5px;
  background: white;
}

.dropzone.dz-drag-hover {
  border: 2px solid #1976d2;
}

.dropzone .dz-preview .dz-success-mark,
.dropzone .dz-preview .dz-error-mark {
  z-index: 20 !important;
}

.dz-details {
  padding: 0px;
}

.dz-progress {
  display: none;
}

.v-application .dz-preview a {
  color: #1976d2 !important;
}

.dropzone .dz-preview .dz-image {
  width: 120px;
  height: 120px;
}

.dropzone .dz-preview .dz-error-message {
  top: 145px;
  left: -10px;
}

/* Cropper JS */
.cropper-crop-box, .cropper-view-box {
  border-radius: 50%;
}

.cropper-view-box {
  box-shadow: 0 0 0 1px #39f;
  outline: 0;
}



/* Notificaciones */
#notificaciones h6 {
  color: black;
  max-height: 241px;
}

.notificacion-no-leida {
  background-color: #eaeaf1;
}



/* Inicio */
.proyectos-card {
  transition: all 0.5s ease !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  cursor: pointer !important;
}

.proyectos-card.on-hover {
  transform: scale(1.04) !important;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

#boton-nuevo-proyecto {
  color: #1976d2 !important;
  font-size: 6rem;
  line-height: 6rem !important;
}

#form-datos-proyecto-nuevo {
  display: block !important;
  overflow-y: scroll !important;
  min-height: 460px !important;
  max-height: 460px !important;
  height: 460px !important;
  margin-bottom: 24px !important;
  box-shadow: 0 0 0 0 !important;
}

#form-tecnicos-proyecto-nuevo {
  display: block !important;
  overflow-y: scroll !important;
  min-height: 460px !important;
  max-height: 460px !important;
  height: 460px !important;
  margin-bottom: 24px !important;
  box-shadow: 0 0 0 0 !important;
}

#form-foto-proyecto-nuevo {
  display: block !important;
  overflow-y: scroll !important;
  min-height: 460px !important;
  max-height: 460px !important;
  height: 460px !important;
  margin-bottom: 24px !important;
  box-shadow: 0 0 0 0 !important;
}

.boton-eliminar-invitacion-tecnico {
  font-size: 2rem;
}

.boton-eliminar-invitacion-tecnico:hover {
  font-size: 2rem;
  color: #1976d2;
  cursor: pointer;
}

#boton-agregar-invitacion-tecnico {
  font-size: 1.25rem;
}

#boton-agregar-invitacion-tecnico:hover {
  font-size: 1.25rem;
  color: #1976d2;
  cursor: pointer;
}

#card-editor-imagen {
  height: 647px;
  padding-top: 28px;
  padding-left: 24px;
  padding-right: 24px;
}

#editor-imagen {
  height: 483px;
  width: 852px;
  background-color: black;
}

#botones-editor-imagen {
  width: 852px;
}

.fondo-texto-card-proyectos {
  background-color: rgb(0, 0, 0, 0.6);
}



/* Tareas */
#tareas {
  display: block !important;
  overflow-y: scroll !important;
  max-height: 100% !important;
  min-height: 100% !important;
  height: 100% !important;
}

#tareas li {
  max-width: 99% !important;
}

.tareas-label {
  display: block !important;
  overflow-x: scroll !important;
  max-width: 100% !important;
  min-width: 100% !important;
  width: 100% !important;
  white-space: nowrap !important;
  text-overflow: unset !important;
}